<style>
	p.text, div.text {
		margin-left: 0em;
		margin-top: 1em;
	}
	table.header {
		margin: auto;
	}
	td.header {
		color: blue;
		font-family: sans-serif;
		font-weight: bold;
		font-size: x-large;
	}
	div.header {
		color: blue;
		font-family: sans-serif;
		font-weight: bold;
		margin-top: 1em;
	}
	pre.diagramuml, code.diagramuml, div.diagramsch{
		color: darkgreen;
	}
	pre.diagramsch, code.diagramsch, div.diagramsch{
		color: brown;
	}
	div.term {
		color: blue;
		font-family: sans-serif;
		font-weight: bold;
		margin-top: 1em;
	}
	div.define {
		color: black;
		margin-top: 1em;
		margin-left: 0em;
	}
	div.quote {
		color: color;
		margin-top: 1em;
		margin-left: 4em;
	}
	DT {
		font-weight: bold;
	}
	span.set {
		font-family: sans-serif;
		font-weight: bold;
	}
	span.cat {
		font-family: "zapf chancery" cursive;
		font-weight: bold;
		font-size: larger;
	}
	span.func {
		font-family: "zapf chancery" cursive;
		font-weight: bold;
		font-size: larger;
	}
	span.map {
	}
	span.object {
	}
	span.category {
		font-family: "zapf chancery" cursive;
		font-style: italic;
		font-weight: bold;
		font-size: larger;
	}
	span.family {
		font-family: "zapf chancery" cursive;
		font-style: italic;
		font-weight: bold;
		font-size: larger;
	}
	span.functor {
		font-family: "zapf chancery" cursive;
		font-style: italic;
		font-weight: bold;
		font-size: larger;
	}
	.copying {
		margin: 10 10 10 10;
		text-align: justify;
		font-size: smaller;
	}
	h1 {
		font-size: x-large;
	}
	div.lx {
		margin-top: 1em;
		margin-right: 24em;
		margin-bottom: 1em;
		margin-left: 4em;
		border: 1px solid;
		background-color: peachpuff;
		color: sienna;
	}
	span.lambda {
		font-family: sans-serif;
		font-weight: bold;
	}
	div.proof {
		font-family: sans-serif;
		font-weight: bold;
	}
	div.lambdacmd {
		font-family: monospace;
		font-weight: bold;
		font-size: large;
	}
</style>
