# Build folders
/ccache/
/build/
/sdk/
/compiler_rt/avm2/
/swig-2.0.4/autom4te.cache/
/swig-3.0.0/autom4te.cache/
# Build files
/compiler_rt/BlocksRuntime/*.o
/avmplus/utils/*.abc
build.log
# Packages
/bmake/
/cmake-2.8.12.2/
/dejagnu-1.5/
/dmalloc-5.5.2/
/jpeg-8c/
/libiconv-1.13.1/
/libpng-1.5.7/
/make-3.82/
/pkg-config-0.26/
/scimark2_1c/
/SDL-1.2.14/
/SDL-1.2.15/
/zlib-1.2.5/