# Build folders
/ccache/
/build/
/sdk/
/compiler_rt/avm2/
/qa/runtimes/
# Build files
avmplus/utils/*.abc
build.log
# Packages
/aalib-1.2/
/bzip2-1.0.6/
/cmake-2.8.12.2/
/dejagnu-1.5/
/dmalloc-5.5.2/
/eigen-3.1.2/
/eigen-eigen-5097c01bcdc4/
/flac-1.2.1/
/freetype-2.5.3/
/giflib-5.0.5/
/gmp-5.1.3/
/jpeg-8c/
/libiconv-1.13.1/
/libogg-1.3.1/
/libpng-1.5.7/
/libsndfile-1.0.25/
/libvorbis-1.3.4/
/libwebp-0.4.0/
/make-3.82/
/ncurses-5.9/
/openssl-1.0.1g/
/pkg-config-0.26/
/protobuf-2.5.0/
/readline-6.3/
/scimark2_1c/
/SDL_image-1.2.12/
/SDL_mixer-1.2.12/
/tiff-4.0.3/
/xz-5.0.5/