# Build folders
ccache
build
sdk
avmplus/utils/*.abc
compiler_rt/avm2/avm2/.dir
compiler_rt/avm2/avm2/avm2/.dir
compiler_rt/avm2/avm2/avm2/SubDir.lib/.dir
compiler_rt/avm2/avm2/avm2/libcompiler_rt.a
compiler_rt/avm2/avm2/libcompiler_rt.a
# Packages
make-3.82
pkg-config-0.26
dmalloc-5.5.2.tar.gz
libiconv-1.13.1.tar.gz