[Desktop Entry]
Version=1.0
Type=Application
Name=cygstart
Comment=Open according to Windows filetype associations
TryExec=cygstart
Exec=cygstart %f
Icon=application-x-executable
NoDisplay=true
Terminal=false
StartupNotify=false
MimeType=application/x-ms-dos-batch;application/x-ms-dos-executable;application/x-ms-shortcut;application/x-ms-win-installer;application/x-msi;application/x-windows-themepack;
