// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

//
//  TestTarget.xcconfig
//
//  These are Test target settings for the gtest framework and examples. It
//  is set in the "Based On:" dropdown in the "Target" info dialog.

PRODUCT_NAME = $(TARGET_NAME)
HEADER_SEARCH_PATHS = ../include
