
body { 
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background-color: white;
  color: black;
}

pre {
  background-color: #E0E0E0;
  color: black;
  border: thin;
  border-style: solid;
}

