last-cache
	X:\p4\alcmain\cygwin
mirrors-lst
	http://mirrors.163.com/cygwin/;mirrors.163.com;Asia;China
	http://box-soft.com/;box-soft.com;United States;Illinois
	http://cygwin.mirrors.hoobly.com/;cygwin.mirrors.hoobly.com;United States;Pennsylvania
	ftp://cygwin.mirrorcatalogs.com/cygwin/;cygwin.mirrorcatalogs.com;United States;Colorado
	http://cygwin.mirrorcatalogs.com/;cygwin.mirrorcatalogs.com;United States;Colorado
	http://www.netgull.com/cygwin/;www.netgull.com;United States;California
	ftp://cygwin.mirrors.pair.com/;cygwin.mirrors.pair.com;United States;Pennsylvania
	http://cygwin.mirrors.pair.com/;cygwin.mirrors.pair.com;United States;Pennsylvania
	http://cygwin.parentingamerica.com/;cygwin.parentingamerica.com;Canada;Montreal
	http://cygwin.skazkaforyou.com/;cygwin.skazkaforyou.com;Canada;Montreal
	http://mirror.symnds.com/software/cygwin/;mirror.symnds.com;United States;Virginia
	http://tweedo.com/mirror/cygwin/;tweedo.com;Europe;Austria
	ftp://mirrors.xmission.com/cygwin/;mirrors.xmission.com;United States;Utah
	http://mirrors.xmission.com/cygwin/;mirrors.xmission.com;United States;Utah
	ftp://lug.mtu.edu/cygwin/;lug.mtu.edu;United States;Michigan
	http://lug.mtu.edu/cygwin/;lug.mtu.edu;United States;Michigan
	ftp://mirror.cs.vt.edu/pub/cygwin/cygwin/;mirror.cs.vt.edu;United States;Virginia
	http://mirror.cs.vt.edu/pub/cygwin/cygwin/;mirror.cs.vt.edu;United States;Virginia
	ftp://mirror.mcs.anl.gov/pub/cygwin/;mirror.mcs.anl.gov;United States;Illinois
	http://mirror.mcs.anl.gov/cygwin/;mirror.mcs.anl.gov;United States;Illinois
	ftp://mirror.internode.on.net/pub/cygwin/;mirror.internode.on.net;Australasia;Australia
	http://mirror.internode.on.net/pub/cygwin/;mirror.internode.on.net;Australasia;Australia
	http://piotrkosoft.net/pub/mirrors/cygwin/;piotrkosoft.net;Europe;Poland
	ftp://ftp.iasi.roedu.net/mirrors/cygwin.com/;ftp.iasi.roedu.net;Europe;Romania
	ftp://mirror.steadfast.net/cygwin/;mirror.steadfast.net;United States;Illinois
	http://mirror.steadfast.net/cygwin/;mirror.steadfast.net;United States;Illinois
	ftp://mirrors.syringanetworks.net/cygwin/;mirrors.syringanetworks.net;United States;Idaho
	http://mirrors.syringanetworks.net/cygwin/;mirrors.syringanetworks.net;United States;Idaho
	ftp://sourceware.mirrors.tds.net/pub/sourceware.org/cygwin/;sourceware.mirrors.tds.net;United States;Wisconsin
	http://sourceware.mirrors.tds.net/pub/sourceware.org/cygwin/;sourceware.mirrors.tds.net;United States;Wisconsin
	http://cygwin.vc.ukrtel.net/;cygwin.vc.ukrtel.net;Europe;Ukraine
	ftp://artfiles.org/cygwin.org/pub/cygwin/;artfiles.org;Europe;Germany
	http://artfiles.org/cygwin.org/pub/cygwin/;artfiles.org;Europe;Germany
	http://cygwin.cybermirror.org/;cygwin.cybermirror.org;Europe;Germany
	ftp://mirrors.dotsrc.org/mirrors/cygwin/;mirrors.dotsrc.org;Europe;Denmark
	http://mirrors.dotsrc.org/cygwin/;mirrors.dotsrc.org;Europe;Denmark
	ftp://ftp.fedoramd.org/mirrors/cygwin/;ftp.fedoramd.org;Europe;Moldova
	http://repo.fedoramd.org/mirrors/cygwin/;repo.fedoramd.org;Europe;Moldova
	ftp://mirrors.kernel.org/sourceware/cygwin/;mirrors.kernel.org;United States;Palo Alto
	http://mirrors.kernel.org/sourceware/cygwin/;mirrors.kernel.org;United States;Palo Alto
	ftp://ftp.mirrorservice.org/sites/sourceware.org/pub/cygwin/;ftp.mirrorservice.org;Europe;UK
	http://www.mirrorservice.org/sites/sourceware.org/pub/cygwin/;www.mirrorservice.org;Europe;UK
	ftp://mirror.team-cymru.org/cygwin/;mirror.team-cymru.org;United States;Illinois
	http://mirror.team-cymru.org/cygwin/;mirror.team-cymru.org;United States;Illinois
	ftp://ftp.univie.ac.at/packages/cygwin/;ftp.univie.ac.at;Europe;Austria
	http://ftp.univie.ac.at/packages/cygwin/;ftp.univie.ac.at;Europe;Austria
	ftp://mirror.aarnet.edu.au/pub/sourceware/cygwin/;mirror.aarnet.edu.au;Australasia;Australia
	http://mirror.aarnet.edu.au/pub/sourceware/cygwin/;mirror.aarnet.edu.au;Australasia;Australia
	ftp://ftp.easynet.be/cygwin/;ftp.easynet.be;Europe;Belgium
	http://mirror.cpsc.ucalgary.ca/mirror/cygwin.com/;mirror.cpsc.ucalgary.ca;Canada;Alberta
	ftp://mirror.csclub.uwaterloo.ca/cygwin/;mirror.csclub.uwaterloo.ca;Canada;Ontario
	http://mirror.csclub.uwaterloo.ca/cygwin/;mirror.csclub.uwaterloo.ca;Canada;Ontario
	ftp://mirror.switch.ch/mirror/cygwin/;mirror.switch.ch;Europe;Switzerland
	http://mirrors.ustc.edu.cn/cygwin/;mirrors.ustc.edu.cn;Asia;China
	ftp://ftp.gwdg.de/pub/linux/sources.redhat.com/cygwin/;ftp.gwdg.de;Europe;Germany
	http://ftp.gwdg.de/pub/linux/sources.redhat.com/cygwin/;ftp.gwdg.de;Europe;Germany
	ftp://ftp-stud.hs-esslingen.de/pub/Mirrors/sources.redhat.com/cygwin/;ftp-stud.hs-esslingen.de;Europe;Germany
	http://ftp-stud.hs-esslingen.de/pub/Mirrors/sources.redhat.com/cygwin/;ftp-stud.hs-esslingen.de;Europe;Germany
	ftp://linux.rz.ruhr-uni-bochum.de/cygwin/;linux.rz.ruhr-uni-bochum.de;Europe;Germany
	http://linux.rz.ruhr-uni-bochum.de/download/cygwin/;linux.rz.ruhr-uni-bochum.de;Europe;Germany
	ftp://ftp.inf.tu-dresden.de/software/windows/cygwin32/;ftp.inf.tu-dresden.de;Europe;Germany
	http://ftp.inf.tu-dresden.de/software/windows/cygwin32/;ftp.inf.tu-dresden.de;Europe;Germany
	ftp://ftp.uni-kl.de/pub/windows/cygwin/;ftp.uni-kl.de;Europe;Germany
	http://ftp.uni-kl.de/pub/windows/cygwin/;ftp.uni-kl.de;Europe;Germany
	ftp://ftp.rediris.es/mirror/cygwin/;ftp.rediris.es;Europe;Spain
	http://ftp.rediris.es/mirror/cygwin/;ftp.rediris.es;Europe;Spain
	http://cygwin.cict.fr/;cygwin.cict.fr;Europe;France
	ftp://mirror.cict.fr/cygwin/;mirror.cict.fr;Europe;France
	ftp://ftp.ntua.gr/pub/pc/cygwin/;ftp.ntua.gr;Europe;Greece
	http://ftp.cc.uoc.gr/mirrors/cygwin/;ftp.cc.uoc.gr;Europe;Greece
	ftp://ftp.fsn.hu/pub/cygwin/;ftp.fsn.hu;Europe;Hungary
	http://ftp.fsn.hu/pub/cygwin/;ftp.fsn.hu;Europe;Hungary
	ftp://ftp.heanet.ie/pub/cygwin/;ftp.heanet.ie;Europe;Ireland
	http://ftp.heanet.ie/pub/cygwin/;ftp.heanet.ie;Europe;Ireland
	http://mirror.isoc.org.il/pub/cygwin/;mirror.isoc.org.il;Asia;Israel
	ftp://ftp.iitm.ac.in/cygwin/;ftp.iitm.ac.in;Asia;India
	http://ftp.iitm.ac.in/cygwin/;ftp.iitm.ac.in;Asia;India
	ftp://ftp.jaist.ac.jp/pub/cygwin/;ftp.jaist.ac.jp;Asia;Japan
	http://ftp.jaist.ac.jp/pub/cygwin/;ftp.jaist.ac.jp;Asia;Japan
	ftp://ftp.yz.yamagata-u.ac.jp/pub/cygwin/;ftp.yz.yamagata-u.ac.jp;Asia;Japan
	http://ftp.yz.yamagata-u.ac.jp/pub/cygwin/;ftp.yz.yamagata-u.ac.jp;Asia;Japan
	ftp://ftp.iij.ad.jp/pub/cygwin/;ftp.iij.ad.jp;Asia;Japan
	http://ftp.iij.ad.jp/pub/cygwin/;ftp.iij.ad.jp;Asia;Japan
	http://cygwin.xl-mirror.nl/;cygwin.xl-mirror.nl;Europe;Netherlands
	ftp://cygwin.uib.no/pub/cygwin/;cygwin.uib.no;Europe;Norway
	http://cygwin.uib.no/;cygwin.uib.no;Europe;Norway
	ftp://ucmirror.canterbury.ac.nz/pub/cygwin/;ucmirror.canterbury.ac.nz;Australasia;New Zealand
	http://ucmirror.canterbury.ac.nz/cygwin/;ucmirror.canterbury.ac.nz;Australasia;New Zealand
	ftp://ftp.eq.uc.pt/pub/software/pc/prog/cygwin/;ftp.eq.uc.pt;Europe;Portugal
	http://ftp.eq.uc.pt/software/pc/prog/cygwin/;ftp.eq.uc.pt;Europe;Portugal
	ftp://mirrors.fe.up.pt/pub/cygwin/;mirrors.fe.up.pt;Europe;Portugal
	http://mirrors.fe.up.pt/pub/cygwin/;mirrors.fe.up.pt;Europe;Portugal
	ftp://ftp.sunet.se/pub/lang/cygwin/;ftp.sunet.se;Europe;Sweden
	http://mirrors.mojhosting.sk/cygwin/;mirrors.mojhosting.sk;Europe;Slovakia
	http://cygwin.petsads.us/;cygwin.petsads.us;United States;Missouri
new-cygwin-version
	1
last-mirror
	http://cygwin.parentingamerica.com/
net-method
	Direct
last-action
	Download,Install
