<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Neverball / CrossBridge / Stage3D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<script src="swfobject.js"></script>
  <script>
    var flashvars = {};
    var params = {wmode:'direct',menu:'false',bgcolor:'#999999',allowScriptAccess:'sameDomain',allowFullScreen: false,quality: 'high'};
    var attributes = {};
    swfobject.embedSWF("neverball.swf", "NeverballDIV", "800", "600", "11.0.0", false, flashvars, params, attributes);
  </script>
  <body>
    <div class="container">
      <section id="content">
        <div>
          Ported to Flash/Stage3D using CrossBridge: <a href="https://sourceforge.net/projects/crossbridge-community/">https://sourceforge.net/projects/crossbridge-community/</a>
        </div>
        <object style="visibility: visible;" id="NeverballDIV" data="neverball.swf" type="application/x-shockwave-flash" height="600" width="800"><param value="direct" name="wmode"><param value="false" name="menu"><param value="#999999" name="bgcolor"><param value="sameDomain" name="allowScriptAccess"><param value="false" name="allowFullScreen"><param value="high" name="quality"></object>
      </section>
    </div>  
</body></html>