# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# the variables: {shell_release}, {shell_release_debugger}, {shell_debug}, {shell_debug_debugger} are replaced with machine specific settings
# environment variables can show the actual values or by default uses the paths relative to avmdiff.py
#       ../objdir-release/shell/avmshell, ../objdir-release-debugger/shell/avmshell, ../objdir-debug/shell/avmshell, ../objdir-debug-debugger/shell/avmshell
[builds]
{shell_release}
{shell_release_debugger}
{shell_debug}
{shell_debug_debugger}
[options]
#
# List of the various options that can be passed to the shell
# Comment out any that you do not want to permute
#
# Command - command-line option
# Boolean - environment variable
# Integer - environment variable
# var_name          type        value_range     modifies_output
['-Dnodebugger',    'Command',  (1),            0]
#['-Ddrcvalidation', 'Command', (0, 1),          0]
#['-Dnocse',         'Command', (0, 1),          0]
#['-Dnodrc',         'Command', (0, 1),          0]
#['-Dnogc',          'Command', (0, 1),          0]
#['-Dnoincgc',       'Command', (0, 1),          0]
#['-Dnosse',         'Command', (0, 1),          0]
#['BUILTINS',        'Integer', (0, 1),          0]
#['DVN',             'Integer', (0, 1),          0]
#['DEOPT',           'Integer', (0, 1),          0]
#['GML',             'Integer', (0, 1),          0]
['INLINE',          'Integer', (0, 1),          0]
#['PEEPHOLE',        'Integer', (0, 1),          0]
['MODE',            'Integer', (0, 1, 2, 3, 4), 0]
#['PRINTIR',         'Integer', (0, 1),          1]
#['PROFILER',        'Integer', (0, 1),          0]
#['SCHEDULE',        'Integer', (0, 1, 2, 3),    0] 
#['SELFTEST',        'Integer', (0, 1),          0]
#['TRACE',           'Integer', (0, 1),          1]
#['TRY',             'Integer', (0, 1),          0]
#['TYPECHECK',       'Integer', (0, 1),          0]
#['VERBOSE',         'Integer', (0, 1),          1]
#['VMSTATE',         'Integer', (0, 1),          0]
#['WELCOME',         'Integer', (0, 1),          1]
#                                   
# List of constraints on permutation of options
# Only one constraint type now, add inequalities later
[option_dependencies]
# opt1=val1 implies opt2=val2
(('BUILTINS', 0),   ('MODE', 4))
(('DVN', 0),        ('MODE', 4))
(('DEOPT', 0),      ('MODE', 4))
(('GML', 0),        ('MODE', 4))
(('PEEPHOLE', 0),   ('MODE', 4))
 
[combined]
{shell_release_debugger} -Dnogc
 


